@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-c1: #f5f5f5ff;
  --color-c2: #f0f0f0ff;
  --color-c3: #e0e0e0ff;
  --color-c4: #ccccccff;
  --color-c5: #b8b8b8ff;
  --color-c6: #a3a3a3ff;
  --color-c7: #8f8f8fff;
  --color-c8: #7a7a7aff;
  --color-c9: #666666ff;
  --color-c10: #525252ff;
  --color-c11: #3d3d3dff;
  --color-c12: #292929ff;
  --color-c13: #141414ff;
}
/* font-family: 'Fira Sans', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* MENU */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu-item {
  color: var(--color-c13);
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.menu-item:hover {
  color: var(--color-c1);
  background: linear-gradient(to right, #e17a35, #d69834);
}

/* SOBRE */

.container-sobre {
  background: var(--color-c13);
}

.sobre {
  height: 579px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;
}

.img-perfil {
  width: 340px;
  height: 491px;
  display: block;
}

.sobre h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  color: var(--color-c1);
  position: relative;
  z-index: 1;
}

.sobre h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 115px;
  background: url(../img/detalhe.svg) no-repeat;
  position: absolute;
  z-index: -1;
  top: -25px;
  left: -40px;
}

.sobre p {
  color: var(--color-c5);
}



